<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>ChessK</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div class="wrapper">
    <div class="chess-menu">
        <div class="chess-games"></div>
        <div class="chess-create">
            <div class="chess-create-submit">Make Room</div>
        </div>
    </div>
</div>
<script src="/js/index.js"></script>
</body>
</html>
